<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="menu">
      <a href="#posts">Sannas Blogg</a> 
      <a href="#posts/new">Lägg till nytt inlägg</a>
    </div>
    <div id="container">
    </div>
    <script id="posts-template" type="text/x-handlebars-template">
      {{#each posts}}
      <div class="post">
        <h1>{{title}}</h1>
        <small>{{created_at}}</small>
        <p>{{content}}</p>
        <a href="#/posts/{{id}}" id="read">Läs mer</a>
        </br>
        <a href="#posts/edit/{{id}}" id="edit">Ändra</a> 
        <a href="#posts/remove/{{id}}" id="remove">Ta bort</a>
      </div>
      <hr>
      {{/each}}
    </script>
    <script id="post-template" type="text/x-handlebars-template">
      <div class="post" data-id="{{id}}">
        <h1>{{0.title}}</h1>
        <small>{{0.created_at}}</small>
        <p>{{0.content}}</p>
        </br>
        <a href="#posts/edit/{{id}}" id="edit">Edit</a> | 
        <a href="#posts/remove/{{id}}" id="remove">Remove</a>
      </div>
    </script>
    <script id="post-create-template" type="text/x-handlebars-template">
      <div id="post-form">
        <form method="post">
          <div class="error"></div>
          <p>
            <label for="title">Titel</label></br>
            <input type="text" id="title" name="title">
          </p>
          <p>
            <label for="content">Innehåll</label></br>
            <textarea id="content" name="content" cols="30" rows="10"></textarea>
          </p>
          <p>
            <input type="submit" id="addPost" value="Create">
          </p>
        </form>
      </div>
    </script>
    <script id="edit-template" type="text/x-handlebars-template">
    <div id="post-form">
      <form method="post" id="{{id}}">
        <div class="error"></div>
        <p>
          <label for="title">Titel</label></br>
          <input type="text" id="title" name="title" value="{{0.title}}">
        </p>
        <p>
          <label for="content">Innehåll</label></br>
          <textarea id="content" name="content" cols="30" rows="10">{{0.content}}</textarea>
        </p>
        <p>
          <input type="submit" id="addPost" value="Edit">
        </p>
      </form>
    </div>
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/handlebars-v1.3.0.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/posts.js"></script>
  </body>
</html>
