body {
	background: #f8f8f8;
}

#wrapper {
	margin: 50px auto;
	width: 500px;
	background: #fff;
	padding: 20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#container {
	margin-top: 50px;
}

input, textarea {
	background: #FFFFFF;
	border: 1px solid #EDEEF3;
	color: #111111;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 160%;
}

.buttons {
	text-transform: uppercase;
}

#menu {
	text-align: center;
}

.post-button {
	background: #FFFFFF;
	border: 1px solid #bbbbbb;
	color: #111111;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 160%;
	text-transform: uppercase;
	padding: 10px;
	margin-top: -10px;
}

.post-button {
	text-decoration: none;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
}

h1 a {
	text-decoration: none;
	color: #c5ce90;
}

.entry-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #c5ce90;
}

.entry-date {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #111111;
}

.update {
	font-family: Verdana, sans-serif;
	font-size: 30px;
	color: #c5ce90;
	text-align: right;
	margin-top: -45px;
	margin-bottom: 10px;
	margin-left: 400px;
	padding-right: 9px;
	background: transparent url(/images/circle.png) no-repeat right;
	width: 40px;
	height: 40px;
}

.update a {
	color: #e9edd1;
	text-decoration: none;
}

.update a:hover {
	color: #fff;
	text-decoration: none;
}

.remove {
	font-family: Verdana, sans-serif;
	font-size: 30px;
	color: #c5ce90;
	text-align: right;
	margin-top: -50px;
	margin-bottom: 10px;
	margin-left: 450px;
	padding-right: 11px;
	background: transparent url(/images/circle.png) no-repeat right;
	width: 40px;
	height: 40px;
}

.remove a {
	color: #e9edd1;
	text-decoration: none;
}

.remove a:hover {
	color: #fff;
	text-decoration: none;
}

.entry-body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.entry-meta {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.entry-meta a {
	text-decoration: none;
	color: #111111;
}

.entry-meta a:hover {
	text-decoration: none;
	color: #c5ce90;
}

.form-title {
	font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #c5ce90;
}

hr {
	border: 1px dotted #e1e1e1;
}